.sideNav {
  & a {
    border-radius: 10px;
    color: var(--text-inverted);
    text-decoration: none;

    &.active {
      color: color-mix(in srgb, var(--text-inverted) 70%, #000);
      text-decoration: underline;
    }
  }
}
